.mantine-mz51ii {

    color: #ffffff;
    padding: 20px 0px 0px 0px !important;
}

.mantine-mz51ii:hover {
    background-color: transparent;
    padding: 20px 0px 0px 0px !important;
}

.btn-link {

    --bs-btn-color: #FFFFFF;
    --bs-btn-hover-color: #ffffff94;
    --bs-btn-active-color: #ffffff;
    margin-left: -10px;
}
